rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdminEmail() {
      return signedIn()
        && request.auth.token.email in ["arjungangwariitpkd@gmail.com"];
    }

    match /lesson-assets/{allPaths=**} {
      allow read: if true;
      allow write: if isAdminEmail();
    }
  }
}
